
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/MyFont.woff2') format('woff2');
}

body {
  font-family: 'MyFont', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.card{
    padding: 20px;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: none;
    background-color: aqua;
}
.float-img{
    float: left;
    margin-right:12px;
    width :12px;
}
.flex-wrap {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.flex-wrap img {
  width: 150px;
}
.column {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.left {
  background: #f0f0f0;
}

.right {
  background: #e0e0e0;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #211111;
  padding: 6px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  visibility: hidden;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
